$light-blue:#C7F7FF;
$blue:#89C0C9;
$dark-blue:#3a5E63;
$light-brown:#C9A689;
$dark-brown:#7C593C;
$light-grey:#d4d4d4;
$dark-grey:#222;

$breakpoint-small: 700px;
$breakpoint-medium: 900px;
$breakpoint-large: 1400px;